beautifulsoup4==4.11.1
brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
cryptography==38.0.4
flit_core==3.6.0
idna==3.4
pip==22.3.1
pycparser==2.21
pydantic==1.10.2
pyOpenSSL==22.0.0
PySocks==1.7.1
requests==2.28.1
setuptools==65.6.3
soupsieve==2.3.2.post1
typing_extensions==4.4.0
urllib3==1.26.14
wheel==0.37.1